﻿
.searchinfo h2, .searchstat h2 {
   font-weight:600;
   margin-top:-1rem;
}

.areaOfStudy h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.areaOfStudy hr{
    width: 100%;
    border-color: #6d6e71;
}

.areaOfStudy ul{
    list-style-type: none !important;
}

.alpha{
    margin-left:0;
    padding-left:0;
    margin-top: 20px;
}

.alpha li{
    display: inline-block;
    padding: 4px;
} 

.alpha li a{
    text-decoration: none;
    font-size: 14pt;
}   
  
.areaOfStudy a.active{
    color: #4897d2 !important;
    text-decoration: underline !important;
}

.areaOfStudy a.disable{
    color: gray !important;
}

.areaOfStudyList a{
    text-decoration: none;
    line-height: 1.6;
    font-size: 1.8rem;
    font-weight: 500;
}

.areaOfStudy input {
    font-size: 18px;
    border: 1px solid #1c3d71;
    width: 70% !important;
    min-width: 200px !important;
    padding: 6px 12px;
    font-family: inherit;
}

.results, .searchresults {
    font-size: 1.8rem;
    margin-top: 20px;
}

#btnSearch{
    border:none;
    background-color: #fff;
    margin-left: 0;
    text-align:left;
}

#btnSearch:focus {
    outline: none;
}

span.glyphicon-search, span.glyphicon-remove {
    font-size: 1.8rem;
    padding-top: 5px;
}

span.glyphicon-remove {
    margin-left: -55px;
}

span.glyphicon-search{
    margin-left: -35px;
}

.areaOfStudyList{
    padding-bottom: 20px;
}

.areaOfStudy .btn-group{
    width:100%;
}

/*
div.resultsSCC div.SFCC h2 {
    padding-left:3.8rem;
    background: url(/ccsglobal/media/Global/WidgetAssets/Icons/SFCC-Search-Result25x24.png) .5rem .3rem/25px 24px no-repeat;
}

div.resultsSFCC div.SCC h2 {
    padding-left:3.8rem;
    background: url(/ccsglobal/media/Global/WidgetAssets/Icons/SCC-Search-Result25x24.png) .5rem .3rem/25px 24px no-repeat;
}
*/

div.resultsSCC div.SFCC h2 {
    padding-left:5rem;
    background: url(/ccsglobal/media/Global/WidgetAssets/Icons/SFCC-Search-Result25x24.png) 2.5rem .7rem/18px 18px no-repeat;
}

div.resultsSFCC div.SCC h2 {
    padding-left:5rem;
    background: url(/ccsglobal/media/Global/WidgetAssets/Icons/SCC-Search-Result25x24.png) 2.5rem .7rem/18px 18px no-repeat;
}

.resultsSFCC .SCC h2 a {
    font-size: 1.4rem;
}

.resultsSCC .SFCC h2 a {
    font-size: 1.4rem;
}