﻿table {
    /*table-layout: fixed;
    width: 800px;*/ /* must have this set */
}



.ccs-table {
    font-family: 'Open Sans';
    width: 100%;
    border: 1px solid #6688a0;
    border-spacing: 0;
    margin: 10px 5px;
    width: 800px;
}


.ccs-table th {
        background-color: #6688a0;
        color: #fff;
        padding: 5px;
        font-size: 2rem;
        text-transform: uppercase
}

    .ccs-table tr, .ccs-table td {
        color: #000;
        font-size: 1.8rem;
        padding: 5px 10px;
        width: 1px;
        text-align: left;
        /*width: 500px;*/
    }

        .ccs-table tr th:nth-child(2), .ccs-table tr td:nth-child(2) {
            width: 30%;
        }

.ccs-table tr:nth-child(even) {
            background-color: #fff
}

.ccs-table tr:nth-child(odd) {
            background-color: #ddd
}


