﻿

#container, #container p, #container select, #container input, #container .button, table, th, td {
    font-size: 1.5rem
}        
#container h2{ 
    padding-top: 5px; 
}      
#container p{
    padding-right: 30px;
}  
#container a{
    text-decoration: none;
    color: rgb(42,89,165);
}
#container a:hover{
    color:#000;
    cursor: pointer;
}   
#container select, #container input {
    padding:2px;
}         
#container input{ 
    padding:3px; 
}        
.cs_checkbox {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 0 !important;
    right: 4px;
}      
.checkbox{
    width:25px;
    margin-top:1px;
    margin-left:1px;
    top: 3px;
}       
#container .button{
    width:135px;    
    background: #4897d2;
    color: #fff;
    border-radius: 9px;
    border-width: 0;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.3;
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    margin-right:0px;
    vertical-align: top;
    padding: 4px;
}
#container .button:nth-child(-n+2) {
    margin-right: 15px;
}   
#container .button:hover{
    cursor: pointer;
    background: #00529a;
}   
section#search{   
     margin: 0px 0px 10px 0px;   
}
.down-arrow{
	border-color: rgb(42,89,165) transparent;
	border-style: solid;
	border-width: 5px 5px 0px 5px;
	height: 0px;
	width: 0px;
	padding-bottom: 2px;
}
.right-arrow{
	border-color: transparent rgb(42,89,165);
	border-style: solid;
	border-width: 5px 0px 5px 5px;
	height: 0px;
	width: 0px;
}
.separator{ /*doesn't work in chrome*/
    border: 0;
    border-top: 1px solid #D8D8D8;
    height: 1px;
    width: 100%;
}       
.divClasses{
    padding-left: 15px;
    padding-right: 15px;
}
.cs_row{ 
    margin-bottom: 8px; 
}
section.cs_checkboxes .cs_credit,section.cs_checkboxes .cs_class,section.cs_checkboxes .cs_cost{
    display: inline-block;
    margin-top: 12px;
    min-width: 240px;
    width: 33%;
    vertical-align: top;
}
.col{
    display:inline-block;
    padding: 10px 10px 0 0px;
} 
.classHeaderRow{ 
    background: #E8E8E8; font-weight:bold; 
}
.header-up{
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #bbbcd0;
}        
.header-down{            
    top: 420px;
    z-index: 1;
} 
.classRow, .classHeaderRow{
    border: 1px solid #bbbcd0;
    border-bottom: none;    
}
.classRow{ 
    box-sizing: border-box;
    background: url("/ccsglobal/media/Global/MasterAssets/plus22x22.png") no-repeat scroll 50% .55em; 
    background-position: right top;
    padding: 5px 0px 5px 0px;
}
.classRow:hover{    
     /*background: #F8F8F8 url("/ccsglobal/media/Global/MasterAssets/plus16x16.png") no-repeat scroll 50% .55em;*/ 
     background-position: right top;
}
.smallCS{
    padding: 5px;
    white-space:normal;
    margin-left:30px;
    margin-right:30px;
}
.row .expand{ 
    cursor:pointer;      
}        
.details{ 
    border-left: 1px solid #bbbcd0; border-right: 1px solid #bbbcd0; padding-left: 33px; 
}
        
.med_gray{ 
    background: #E8E8E8; 
}
.light_gray{ 
    background: #F8F8F8; 
    background: #F8F8F8 url("/ccsglobal/media/Global/MasterAssets/minus22x22.png") no-repeat scroll 50% .55em; 
    background-position: right top;
}        
.white{ 
    background: #FFF url("/ccsglobal/media/Global/MasterAssets/plus22x22.png") no-repeat scroll 50% .55em; 
    background-position: right top;
}
.height_40{ 
    height: 40px; 
}          
.clear{
    clear:both;
    margin: 0;
    padding: 0;
}   
             
.rightAlign{ 
    text-align:right;
} 
.close{
    width:20px;
    height:20px;
    float:right;
    margin-right:10px;
    margin-top:10px;
    background-image: url(../images/close.png);
    cursor: pointer;
}  
#rightButtons{  
    padding-top: 4px;
    padding-right: 6px;
    font-weight: bold;
    display: inline-block;
}                     
.footerRow{
    background: #d8d8d8;   
    position: fixed;     
    bottom: 0;  
    z-index: 1;        
    border-top: 1px solid #bbbcd0;  
}
.footerCell{
    padding-left: 0px;
    padding-right: 0px;    
}  
.noPadding{   
    padding: 0;
}
#container p.inlineBlock{
    /*display: inline;*/
    vertical-align: top;     
    padding-right: 0px;
    padding-left: 0px;    
    box-sizing: border-box;
}
.divCourse{
    position: relative;
    right: 10px;    
}
@media screen and (max-width: 550px) {
    .panClasses {
        margin-top: 25px
    }
}
@media screen and (max-width: 420px) {
    .details{
        padding-left: 5px;
    }
    .days{
         margin-left: 0;
        margin-right: 0;
        padding-left: 5px
    }
    .smallCS {
        margin-left: 0;
        margin-right: 0;
        padding-left: 5px
    }
    .divCourse{
       top: 12px;
    }
   
    .checkbox{
        width: 100px;
    }
    .cs_checkbox{
        right: 75px; 
    }
}


