﻿body {
    font-size: 10px;
}

.no-bullet, .no-bullet li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#schedule{
    margin-right: 10px;
}

.course .column {
    display: inline-block;
    padding: 5px 10px 0px 0px;
    box-sizing: border-box;
}

.courseBlock {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.coursesandelectives .courseBlock{
    margin-bottom: 1rem;
}

.electiveGroup .courseBlock{
    margin-bottom: 3rem;
}

.course .column.courseOffering {
    width: 15%;
    white-space: nowrap;
    min-width: 97px;
}

.course .column.courseTitle {
    width: 76%;
    white-space: normal;
}

.course .column.tuitionType {
    /*font-weight:bold;*/
    width: 45%;
    white-space: nowrap;
    min-width: 97px;
}
.course .column.dollarSign {
    width: 1%;
    white-space: normal;
}

.course .column.tuiton {
    width: 20%;
    text-align: right;
    white-space: nowrap;
}
.course .column.courseUnits {
    width: 9%;
    text-align: right;
    white-space: nowrap;
}



.column.courseUnits.totalUnits {
    width: 9%;
    border-top: 1px solid #000;
    text-align: right;
    white-space: nowrap;
}

#websiteURL, #gainfulEmployment{
    overflow-wrap: break-word;
    word-break: break-word;
}

/*Degree Description reset font to pick up text not in styled selectors*/
#degreeDescription h1 {
    font-size: 1.88em;
}

#degree{
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

/*Keep course numbers at the top when title wraps*/
#degree li div {
    vertical-align: top;
}

.electiveGroupTitle h4, .electiveGroupTitle .footnoteNumber {
    display: inline-block;
    vertical-align: middle;
}

#disclaimer i {
    font-size: 1em;
}

#disclaimer {
    font-size: 1em;
}

.footnote{
    white-space: nowrap;
    margin-bottom: 2rem;
}

.footnoteText{
    white-space: normal;
}

.footnoteNumber {
    font-size: 1.8rem;
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
    margin-top: -5px;
    vertical-align: top !important;
}

.electiveGroupTitle .footnoteNumber{
    margin-top: 5px !important;
}

.footnoteText, .footnotes {
    display: inline-block;
    font-size: 1.8rem;
    width: 95%;
}

/*Start: Accordion*/
.accordion {
    /*color: #00529a;*/
    padding: 18px;
    /*width: 90%;*/
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/*Add state indicator button */
    .accordion:before {
        content: '\002B'; /* Unicode character for "plus" sign (+) */
        /*content : '+';*/
        /*font-size: 25px;*/
        font-weight: bold;
        color: #00529a !important;
        /*float: left;*/
        /*margin-left: 5px;*/
    }

.active:before {
    /*content: "\2796";*/ /* Unicode character for "minus" sign (-) */
    content: "\2212";
}


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 5px 18px;
    background-color: white;
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-content {
    display: none;
}

    .accordion-content.default {
        display: block;
    }

#detailsTitle {
    text-decoration: underline;
    color: #00529a;
}
#detailsContent {
    display:block;
    color: black;
    font-family: 'Merriweather',serif;
    font-style: italic;
    line-height: 1.4;
}


#detailsTitle, #detailsContent {
    font-size: 0.63em;
}

/*End: Accordion*/

