﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ADLogonProcess.ascx.cs" Inherits="CMSWebParts_Custom_ADLogonProcess" %>

<style>
        .UserValues{

            min-height: 1px;
         /* border: 1px solid green; */
        }
</style>

<div class="UserValues">                           
     <asp:Literal ID="litMessage" runat="server"></asp:Literal>
</div>
<input type="hidden" id="hdnCtc" name="hdnCtcName" value="TESTING" runat="server" />
<input type="hidden" id="hdnFName" name="hdnFName" value="FNAME" runat="server" />
<input type="hidden" id="hdnLName" name="hdnLName" value="LNAME" runat="server" />
<input type="hidden" id="hdnEmail" name="hdnEmail" value="EMAIL" runat="server" />
