﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EmployeeDirectory.ascx.cs" Inherits="CMSWebParts_Custom_EmployeeDirectory" %>
<asp:PlaceHolder runat="server">
    <section id="contactSection2" runat="server"> </section>
</asp:PlaceHolder>
