<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Custom_LibraryChatBox"  CodeFile="~/CMSWebParts/Custom/LibraryChatBox.ascx.cs" %>
<div style="margin-left:55px;margin-bottom:10px;">
    <!-- Beginning of QuestionPoint qwidget code. -->
    <div id="questionpoint.chatwidget1" qwidgetno="1" ></div> 
    <script id="questionpoint.bootstrap1" qwidgetno="1" type="text/javascript" src="//www.questionpoint.org/crs/qwidgetV4/js/qwidget.bootstrapnj.js?langcode=1&instid=11051&skin=blue&size=standard&customSkin=https%3A%2F%2Fscc.spokane.edu%2FApp_Themes%2FLibraryChatWidget%2Fcustom.css" charset="utf-8">        //<noscript>Please enable javascript to chat with librarians online</noscript></script>
    <!-- End QWidget -->
</div>
