﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RaveAlerts2.ascx.cs" Inherits="CMSWebParts_Custom_RaveAlerts2" %>
<asp:Label ID="Label1" runat="server"  />
<div class="headerZ"><asp:Literal ID="alert" runat="server"></asp:Literal></div>