﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RaveAlertsDetailBox.ascx.cs" Inherits="CMSWebParts_Custom_RaveAlertsDetailBox" %>

<asp:Literal ID="raveContent" runat="server"></asp:Literal>