﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RaveAlerts.ascx.cs" Inherits="CMSWebParts_Custom_RaveAlerts" %>

<div class="headerZ"><asp:Literal ID="alert" runat="server"></asp:Literal></div>