﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Custom/RaveAlertsDetailBox2.ascx.cs" Inherits="CMSWebParts_Custom_RaveAlertsDetailBox2" %>

<asp:Label ID="Label1" runat="server"  />
<asp:Literal ID="raveContent" runat="server"></asp:Literal>