﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="StudentRecommendationLogIn.ascx.cs" Inherits="CMSWebParts_Custom_StudentRecommendationLogIn" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Student Recommendation Request </title>
   
    <script>
        
    </script>
    <style>
        .UserValues{

            min-height: 300px;
            border: 1px solid green;
        }
    </style>
</head>
<body>
   
    <%--<input id="updateSaml" value="update SAML" type="button" />--%>
    <form method="post" id="Form" runat="server">           
        <div class="UserValues">                           
            <asp:Literal ID="litMessage" runat="server"></asp:Literal>
        </div>
    </form></body>
</html>