<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Custom_TransferDegreeLinks"  CodeFile="~/CMSWebParts/Custom/TransferDegreeLinks.ascx.cs" %>
<div class="degreelinks">
    <asp:Literal ID="litHeading" runat="server"></asp:Literal>
    <asp:Literal ID="litLinks" runat="server"></asp:Literal>
</div>