<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Custom_TransferDegree"  CodeFile="~/CMSWebParts/Custom/TransferDegree.ascx.cs" %>
        <asp:Panel ID="panDegreeList" CssClass="degrees" runat="server"></asp:Panel>
<asp:Literal ID="litDebug" runat="server"></asp:Literal>