<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Custom_WebPageScraper"  CodeFile="~/CMSWebParts/Custom/WebPageScraper.ascx.cs" %>
<asp:Literal ID="litScrapedText" runat="server"></asp:Literal>
<asp:Literal ID="litDebug" runat="server"></asp:Literal>