﻿.searchinfo h2, .searchstat h2 {
   font-weight:600;
   margin-top:-1rem;
}

.areaOfStudy h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.areaOfStudy hr{
    width: 100%;
    border-color: #6d6e71;
}

.areaOfStudy ul{
    list-style-type: none !important;
}

.alpha{
    margin-left:0;
    padding-left:0;
    margin-top: 20px;
}

.alpha li{
    display: inline-block;
    padding: 4px;
} 

.alpha li a{
    text-decoration: none;
    font-size: 1.9rem;
}

.alphaCharacter h1 {
    font-size: 3.6rem;
}
  
.areaOfStudy a.active{
    color: #4897d2 !important;
    text-decoration: underline !important;
}

.areaOfStudy a.disable{
    color: gray !important;
}

.areaOfStudyList a{
    text-decoration: none;
    line-height: 1.6;
    font-size: 1em;
    font-weight: 500;
}

.areaOfStudy input {
    font-size: 1.8rem;
    border: 1px solid #1c3d71;
    width: 70% !important;
    min-width: 200px !important;
    padding: 6px 12px;
    font-family: inherit;
}

.results{
    font-size: 1.8rem;
    margin-top: 20px;
}

#btnSearch{
    border:none;
    background-color: #fff;
    margin-left: 0;
    text-align:left;
}

#btnSearch:focus {
    outline: none;
}

span.glyphicon-search, span.glyphicon-remove {
    font-size: 1.8rem;
    padding-top: 5px;
}

span.glyphicon-remove {
    margin-left: -55px;
}

span.glyphicon-search{
    margin-left: -35px;
}

.areaOfStudyList{
    padding-bottom: 20px;
}

.areaOfStudy .btn-group{
    width:100%;
}
