﻿/****************************************************************************/
/*#Colors#*/
/*
brand blue #00529a;
sfcc navy blue #1c3d71; 
yellow #fdbf37;
scc light blue #4897d2;
ccs grey #595959;
light grey #e6e7e7;

secondary colors
Blue #6688a0;
green #6e7c34; 
orange #cd5332;
brown #b7a68f; 
purple #6d4277;
maroon #7a2944;
*/

/*#General#*/

    ul.twoColumn {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        list-style-type: disc;
    }



a, a:visited {
    text-decoration: underline;
    color: #00529a;
    font-weight: 700;
}

.light-grey-bg {
    background: #e6e7e7;
    position: relative;
    top: 2.2em;
    margin-bottom: 5em;
    padding: 20px 0;
}
div.light-grey-bg::after {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    content: "";
    border-top: 30px solid #e6e7e7;
    margin-left: -35px;
    top: 100%;
    position: absolute;
    left: 50%;
}

/******* Old/existing CSS**********/
hr
{
  color: #2a59a5;
  background-color: #2a59a5;
  border: 0;
  height: 1px;
}
.redText
{
    color: red;
}
.BlueBGColor
{
    background-color: #eff6fc;
}
.RoyalBlueBorder
{
    border:1px solid #0059A9;
}
.GrayBGColor
{
    background-color: #f0f0f0;
}
.TScontent
{
    clear:left;
    margin-top:15px;
}
.TabStrip
{
    background-color: #A4C9EA;
    height:26px;
    width:100%;
}
.customMenuLIText
{
  padding:0px 0px 3px 16px;
  font-weight:bold;
}
.HeaderText
{
    font-size: 9pt;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* html Menu Bar Style */
.htmlMenuItem
{
    color:#ffffff;
    border: 0px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size:11px;
    font-weight:bolder;
    text-decoration: none;
    cursor: pointer;
}
.htmlFooter
{
    color:#ffffff;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size:10px;
    line-height:20px;
}

/* Skip Navigation */
#skipnav a
{ 
position:absolute; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
 
#skipnav a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 

.divBorderRound
{
    border: 2px solid #ffffff; 
    border-radius: 10px;
    padding:2px;
}

 #divMasterContainer
 {
   
    background-color: #ffffff;
    margin: auto;
 }
 



/*Make introductory p look like this*/
.introP
{
    color:#595959;
    font-size:1.3em;
}



.clearfix{
    clear: both
}
/* used to make text look like a link, but no <a> tags */
.linkText
{
    text-decoration:underline;
    color:#1c75bc;
}

/*z-index classes to be used instead of hard-coded z-index values*/










ul li.ccsLink, ul li.ccsLink a  {
    background-color: rgb(23,60,114);
    color: #fff;
}
ul li.sccLink, ul li.sccLink a{
    background-color: rgb(120,180,226);
    color: rgb(35,35,35);
}
ul li.sfccLink,ul li.sfccLink a{ 
    color: rgb(51,51,51);
}
 ul li.ccsLink:hover, ul li.ccsLink a:hover  {
    background-color: rgb(33,72,129);
    color: #fff;
}
ul li.sccLink:hover, ul li.sccLink a:hover {
    background-color: rgb(129,194,244);
    color: rgb(35,35,35);
}
ul li.sfccLink:hover, ul li.sfccLink a:hover {
    background-color:rgb(253,203,93);   
    color: rgb(51,51,51);
}

.headerBox {
    width: 193px;
    height: 100%;
    float: left;   
}
.searchAppliance{
    height: 21px;
    margin: 15px 0px;
    position: relative;    
}

#divContent
{
    background-color:#ffffff;
    min-height:500px;
    padding: 0px 0px 20px 0px;   
    border: 1px solid #f0f0f0
}
#divPage
{
    background-color: #ffffff;    
    padding: 15px;
    min-height:475px;
}
       
/*Footer*/
.homeFooter {
    clear: both;
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    background-color: #e6e7e8;   
}

.footerSocial{
    float: left;
    width: 260px;
    height: 100%;
    position: relative;
    overflow: hidden
}
.juicerDiv{
    float:left;
    width: 223px;
    position: relative;
    background: #E6E7E8;
    height: 200px;
}
.socialMenu ul {
    float: right;
    position: relative;
    top:20px;
    
}
.socialMenu li{    
    position: relative;
    line-height: 0px;
    display: block;
    height: 31px;
    width: 31px;       
}
.socialMenu li a{
   
    line-height: 0px;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    height: 25px;
    width: 25px;
    text-indent: -1000px;     
}
.socialMenu li a.faceBook { background: url('/_images/Icons/socialSprite.gif') -25px 0 no-repeat;}
.socialMenu li a.twitter {  background: url('/_images/Icons/socialSprite.gif') -25px -25px no-repeat;}
.socialMenu li a.youTube {  background: url('/_images/Icons/socialSprite.gif') -25px -50px no-repeat; }
.socialMenu li a.instagram { background: url('/_images/Icons/socialSprite.gif') -25px -75px no-repeat; }
.socialMenu li a.linkedIn { background: url('/_images/Icons/socialSprite.gif') -25px -100px no-repeat; }
.socialMenu li a.googlePlus { background: url('/_images/Icons/socialSprite.gif') -25px -125px no-repeat;}

.socialMenu li a.faceBook:hover { background: url('/_images/Icons/socialSprite.gif') 0 0 no-repeat;}
.socialMenu li a.twitter:hover {  background: url('/_images/Icons/socialSprite.gif') 0 -25px no-repeat;}
.socialMenu li a.youTube:hover {  background: url('/_images/Icons/socialSprite.gif') 0 -50px no-repeat; }
.socialMenu li a.instagram:hover { background: url('/_images/Icons/socialSprite.gif') 0 -75px no-repeat; }
.socialMenu li a.linkedIn:hover { background: url('/_images/Icons/socialSprite.gif') 0 -100px no-repeat; }
.socialMenu li a.googlePlus:hover { background: url('/_images/Icons/socialSprite.gif') 0 -125px no-repeat;}

/**/
.footerContact{
    float: left;
    width: 292px;
    font-size:.7em; 
    line-height:1.5em;
    padding-top:20px;  
    padding-left:40px;
    box-sizing: border-box;
}
.footerContact a
{
    color:#000000;
}
.footerNav{
    float: left;
    width: 202px;
    padding-top:20px;  
    padding-left: 55px;
    box-sizing: border-box;
}
.footerNav ul{
    padding:0px;
    margin:0px;
}
.footerNav ul li{
    list-style-type:none;
}
.footerNav a
{
    font-size:0.7em; 
    line-height:2em;
    color:#000000;
}
.footerBox {
    position: relative;
    width: 195px;
    float: right; 
    top: 0px;
    vertical-align: bottom;
}
.alertNav 
{
    width:195px;
}
.alertNav ul{
    margin: 30px 0px;
}
.alertNav li{
    background-color:#bbbbbb;
    margin-bottom: 10px;
    text-align: center;
    padding: 0px;
    font-size:1.1em;
    list-style-type:none;
}
.alertNav li:hover
{
    background-color: #c9c8c8;
}
.alertNav li a{
    color: #fff;
    text-decoration: none;   
    font-family: Arial, sans serif;
}
.boxPosition{
    position: relative;
}
.divClassInfo
{
    background-color:#eacdcd;
    height: 35px;
    border: 2px solid gray;
}
.divClassInfo h3
{
    margin-top:0px;
    padding-top: 10px;
    padding-left:5px;
}
/* BOT trap */    
.content
{
    display:none;
}
/* added by LP July 25, 2018 to format the error messages on Homestay */
.divError
{
    color: #DD0000;
    font-weight: 500;
    font-style:italic;
    margin-bottom: 5px;
}

/* INCLUDE Forms.css FOR FORM STYLES 