﻿.redText
{
    color: red;
}
/* #F8F6ED = pale manila color */
.FormBGColor
{
    background-color: #F8F6ED;
}
.GreyBGColor
{
    background-color: #F0F0F0;
}
.TblBGColor
{
    background-color: #eff6fc;
}
.GreyBorder
{
    border: 1px solid #D3D3D3;
}
.Rounded   
{
    border-radius: 10px;
}
/* Form Field styling */    /* Form Field styling */    /* Form Field styling */
.button 
{
    background-color: #2A59A5;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: .5em;
    -webkit-border-radius: .5em;
	-moz-border-radius: .5em;
    border: 1px solid #2A59A5;
    letter-spacing: .05em;
    font-weight:bold;
}

.button:hover
{
    background-color: #fff;
    color: #2A59A5;
    border: 1px solid #2A59A5;
    cursor: pointer;
}

.RadioBar
{
	background-color: #eacdcd;
	width: 764px; 
	height: 25px; 
	border: 2px solid #d2a3a3;
}

.RadioAlignment
{
    text-align:center;
    float:right;
    width:250px;
    height: 30px;
    margin-top:22px;
    padding-top: 10px;
    border: 1px solid #eacdcd;
}

.loginbox
{
    border: 1px solid #0059A9;
	width: 380px;
	border-radius:10px;
	margin:auto;
}

fieldset
{
	border:0px;
	margin-bottom:10px;
    line-height: 1.6em;
}
legend
{
	border-color: #D3D3D3;
    color: #2a59a5;
}
.LabelFieldDiv {
    border-top: 1px solid #BBD4EA;
    width: 660px;
}
.LabelFieldDivNoBorder
{
    width: 660px;   
}
.LabelDiv
{
  width: 160px;
  float: left;
}
.FieldDiv
{
  width: 500px;  
  float: right;
}
.RowDiv
{
  width: 660px;
  clear: both;
  margin-top:5px;
}
.ButtonAlignment
{
	margin-top:5px; 
	text-align:center;
	margin-bottom:5px;
}

/* backward compatibility - replaced by button class above */
.ButtonBar
{
	background-color: #BBD4EA;
	width: 640px; 
	margin-top: 7px; 
    margin-left: 3px;
	height: 35px; 
	padding: 5px;
	border: 2px solid #0059A9;
}
.ButtonBarShort
{

	background-color: #BBD4EA;
	width: 360px; 
	margin-top: 7px; 
    margin-left: 5px;
	height: 35px; 
	padding: 5px;
	border: 1px solid #0059A9;
}

.ButtonAdmin {
    box-sizing: border-box;
    padding: 1px 6px;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: ButtonText;
    background-color: ButtonFace;
    border-width: 2px;
    border-style: outset;
    border-color: ButtonFace;
    border-image: initial;
    font: 400 13.3333px Arial;
    text-decoration: none;
    display:inline-block;
    margin: 0em;
    text-shadow: none;
    text-indent: 0px;
    word-spacing: normal;
    letter-spacing: normal;
    text-rendering: auto;
}
/* online survey */
.tblForm
{
    border: 1px solid #E6E6E6;
    width:98%;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.tblForm td
{
    border: 1px solid #E6E6E6;
    padding:2px;
}
/* BOT trap */    
.content
{
    display:none;
}

