﻿body {
}

#container, #container p, #container select, #container input, #container .button, table, th, td {
    font-size: 1.5rem
}  
      
#container h2{ 
    padding-top: 5px; 
}  
    
#container p{
    padding-right: 30px;
}  

#container a{
    text-decoration: none;
    color: rgb(42,89,165);
}

#container a:hover{
    color:#000;
    cursor: pointer;
}  
 
#container select, #container input {
    padding:3px;
}    
     
#container input{ 
    padding:2px; 
    padding-left: 6px;
}  
      
.cs_checkbox, .cs_checkboxes input {
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin: -2px 0 0 0 !important;
    top: 0 !important;
    right: 6px;
}  
    
.checkbox{
    height: 18px;
    width: 18px;
    margin-top:1px;
    margin-left:1px;
    top: 3px;
}   
    
#container .button{
    width:135px;    
    background: #4897d2;
    color: #fff;
    border-radius: 9px;
    border-width: 0;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.3;
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    margin-right:0px;
    vertical-align: top;
    padding: 4px;
}

#container .button:nth-child(-n+2) {
    margin-right: 15px;
}   

#container .button:hover{
    cursor: pointer;
    background: #00529a;
}   

section#search{   
     margin: 0px 0px 10px 0px;   
}

.moreFilters{
    padding-right: 15px;
}

.filters{
    padding-left: 15px;
    padding-right: 15px;
}

.down-arrow{
	border-color: rgb(42,89,165) transparent;
	border-style: solid;
	border-width: 5px 5px 0px 5px;
	height: 0px;
	width: 0px;
	padding-bottom: 2px;
}

.right-arrow{
	border-color: transparent rgb(42,89,165);
	border-style: solid;
	border-width: 5px 0px 5px 5px;
	height: 0px;
	width: 0px;
}

.separator{ /*doesn't work in chrome*/
    border: 0;
    border-top: 1px solid #D8D8D8;
    height: 1px;
    width: 100%;
}   
    
.divClasses{
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.cs_row{ 
    /*margin-bottom: 8px;*/ 
}

.cs_checkboxes, .cs_inputFields, .cs_credit, .cs_class, .cs_cost{
    display: inline-block;
    width: auto;
    vertical-align: top;
}

.cs_checkboxes{
    padding-top: 15px;
    padding-bottom: 10px;
}

.cs_checkboxes div{
    padding-left: 4px;
    padding-right: 3px;
    padding-top: 15px;
}

.col{
    display:inline-block;
    padding: 20px 10px 0 0px;
} 

.classHeaderRow{ 
    background: #E8E8E8; 
    font-weight:bold; 
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-up{
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #e0e0e0;
}   
     
.header-down{            
    top: 420px;
    z-index: 1;
} 

.classRow, .classHeaderRow{
    border: 1px solid #e0e0e0;
    border-bottom: none;    
}

.classRow{ 
    box-sizing: border-box;
    background: url("/ccsglobal/media/Global/MasterAssets/plus22x22.png") no-repeat scroll 50% .55em; 
    background-position: right 3px top 3px;
    padding: 5px 0px 5px 0px;
}

.classRow:hover{    
    background-color: #F8F8F8; 
    background-position: right 3px top 3px;
}

.row .expand{ 
    cursor:pointer;      
}     
   
.details{ 
    border-left: 1px solid #e0e0e0; 
    border-right: 1px solid #e0e0e0; 
    padding-left: 31px; 
}
        
.med_gray{ 
    background: #E8E8E8; 
}

.light_gray{ 
    /*background: #F8F8F8; */
    background: #F8F8F8 url("/ccsglobal/media/Global/MasterAssets/minus22x22.png") no-repeat scroll 50% .55em; 
    background-position: right 3px top 3px;
}     
   
.white{ 
    background: #FFF url("/ccsglobal/media/Global/MasterAssets/plus22x22.png") no-repeat scroll 50% .55em; 
    background-position: right 3px top 3px;
}
     
.clear{
    clear:both;
    margin: 0;
    padding: 0;
}   
             
.rightAlign{ 
    text-align:right;
} 

.close{
    width:20px;
    height:20px;
    float:right;
    margin-right:10px;
    margin-top:10px;
    background-image: url(../images/close.png);
    cursor: pointer;
} 
 
#leftButtons{
    padding-left: 10px;
    padding-right: 0;
    width: auto;
    float:left;
}

#rightButtons{  
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-weight: bold;
    width: auto;
    float:right;
}   
                  
.footerRow{
    background: #e8e8e8;   
    position: fixed;     
    bottom: 0;  
    z-index: 1;        
    border-top: 1px solid #e0e0e0;  
    border-bottom: 1px solid #e0e0e0;
}

.footerCell{
    padding-left: 0px;
    padding-right: 0px;    
}  

.noPadding{   
    padding: 0;
}

#container p.inlineBlock{
    vertical-align: top;     
    padding-right: 0px;
    padding-left: 0px;    
    box-sizing: border-box;
}

.divCourse{
    position: relative;
    right: 10px;    
}

.button {
   margin: 10px 0;
}

section.light-grey-bg {
    padding: 10px;
}

section.light-grey-bg::after {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    content: none;
}

#cssFooter{
    margin-top:3rem;
}

@media screen and (max-width: 550px) {
    .panClasses {
        margin-top: 25px
    }
}

@media screen and (max-width: 767px) {
    .schedule {
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .details{
        padding-left: 10px;
    }
    .days{
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
    }
}

@media (min-width: 992px){
    .courseHeader, .course{
        min-width: 95px;
    }
    .courseTitleHeader, .courseTitle{
        min-width: 205px;
    }
}

@media print {
    #classListNav[class=light_gray] {
        border: 1px solid red;
    }
}




