﻿body {
}

#container, #container select, #container input, #container .button {
    font-size: 1.5rem;
}

#search a:hover {
    color: #000;
    cursor: pointer;
}

#container select {
    padding: 3px;
}

#container input {
    padding: 4px;
    padding-left: 10px;
}

#container .button {
    width: 135px;
    background: #4897d2;
    color: #fff;
    border-radius: 9px;
    border-width: 0;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.3;
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    margin-right: 0px;
    vertical-align: top;
}

    #container .button:nth-child(-n+2) {
        margin-right: 15px;
    }

    #container .button:hover {
        cursor: pointer;
        background: #00529a;
    }

.button {
    margin: 10px 0;
}

.moreFilters {
    padding-right: 15px;
}

.filters {
    padding-left: 15px;
    padding-right: 15px;
}

.down-arrow {
    border-color: rgb(42,89,165) transparent;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    height: 0px;
    width: 0px;
    padding-bottom: 2px;
}

.right-arrow {
    border-color: transparent rgb(42,89,165);
    border-style: solid;
    border-width: 5px 0px 5px 5px;
    height: 0px;
    width: 0px;
}

.degrees hr {
    width: 100%;
    border-color: #6d6e71;
}

.degrees section{
    margin-bottom: 3rem;
}

.degrees ul {
    list-style-type: none !important;
}

.alpha {
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
}

    .alpha li {
        display: inline-block;
        padding: 4px;
    }

        .alpha li a {
            text-decoration: none;
            font-size: 1.9rem;
        }

.alphaCharacter h1 {
    font-size: 3.6rem;
}

.col {
    display: inline-block;
    padding: 20px 10px 0 0;
    margin-right: 5px;
}

.degrees a.active {
    color: #4897d2 !important;
    text-decoration: underline !important;
}

.degrees a.disable {
    color: gray !important;
}

.degrees a {
    text-decoration: none;
    line-height: 1.6;
    font-size: 1em;
    font-weight: 500;
}

section.light-grey-bg {
    padding: 10px;
}

    section.light-grey-bg::after {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        content: none;
    }

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

select, input {
    border: 1px solid gray;
    padding: 2px;
}

#search {
    background: #e6e7e7;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
}

    #search select, input {
        font-size: 12pt;
    }

    #search a {
        text-decoration: none;
    }

#btnSearch {
    border: none;
    background-color: #e6e7e7;
    margin-left: 0;
    text-align: left;
}

span.glyphicon-search {
    font-size: 1.8rem;
    background-color: #e6e7e7;
}

.cboDegree {
    white-space: normal;
    width: 100%;
}

.cboDegree2 {
    white-space: nowrap;
    width: 75%;
}

.txtTextSearch{
    width:250px;
}

.panDegree {
    white-space: nowrap;
}

.panDegree, .panCategory{
    margin-bottom: 25px;
}

.panDegreeList {
    margin-top: 20px;
    margin-bottom: 40px;
}

.viewFilter {
    display: inline-block;
}

@media screen and (max-width: 1056px) {
    .cboDegree{
        width:100%;
    }
    .panDegree{
        white-space:normal;
    }
    .cboDegree2{
        width:100%;
    }
    .cboSubject{
        width:70%;
    }
}

@media screen and (max-width: 460px) {
    .cboLocation{
        width:100%;
    }
    .txtTextSearch{
        width:80%;
    }
}
