<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Custom_TransformableWebPart_TransformableWebPart_1"  CodeFile="~/CMSWebParts/Custom/TransformableWebPart/TransformableWebPart_1.ascx.cs" %>
<cms:BasicRepeater runat="server" ID="basicRepeater" />